body{
width: 800px;
margin: auto;
padding: 0 30px 10px 30px;
box-shadow: 0 0 100px; 
font-family: 'couriel', cursive;
}

.div1 {
	display: flex;
	justify-content: space-between; 
	text-align: left;
	font-size: 20px;
	font-style: italic;
	padding: 30px;
	margin: 30px;

}
.div2 > p {
text-align: right;
font-size: 20px;
font-style: italic;
}
.div3 > p {
text-align: center;
font-size: 20px;
font-style: italic;
}
.div4 > p {
text-align: initial;
font-size: 25px;
font-style: italic;
}
.div5 > p {
text-align: right;
font-size: 20px;
font-style: italic;
}
